.postexpress__depoimentos-container {
  padding: 0 12rem;
}

.postexpress__depoimentos-container h1 {
  color: var(--color-blue);
  font-size: 2.4rem;
  text-align: center;
}

.postexpress__depoimentos-container > p {
  color: var(--color-black);
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 3rem;
}

.postexpress__depoimentos-clientes {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postexpress__depoimentos-clientes::before {
  position: absolute;
  content: "";
  width: 90%;
  height: 90%;
  background-color: var(--color-beige);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -webkit-animation: vibrate-1 3s linear infinite both;
  animation: vibrate-1 3s linear infinite both;
}

.postexpress__depoimentos-clientes:first-child {
  align-self: flex-start;
}

.postexpress__depoimento {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);
  background-color: var(--color-white);
  width: 650px;
  height: 550px;
  overflow: hidden;
  margin-bottom: 3rem;
  transition: var(--transition);
}

.postexpress__depoimento:hover {
  scale: 1.02;
}

.postexpress__depoimento::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  bottom: -90px;
  right: -90px;
  border-radius: 50%;
  background-color: var(--color-orange);
}

.postexpress__depoimento-image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  outline: 5px solid var(--color-orange);
}

.postexpress__depoimento-image img {
  position: relative;
  object-fit: contain;
  width: 100%;
}

.postexpress__depoimento-content {
  width: 70%;
  padding: 1.5rem;
}

.postexpress__depoimento-content_text {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  margin-left: -2rem;
}

.postexpress__depoimento-content_text i {
  color: var(--color-blue);
  display: flex;
  margin: 0 0.5rem;
}

.postexpress__depoimento-content_text i:last-child {
  align-self: flex-end;
}

.postexpress__depoimento-content_text p {
  color: var(--color-black);
  margin-left: 0.5rem;
  font-weight: 300;
  font-size: 0.9rem;
}

.postexpress__depoimento-content_name {
  margin-left: 0.5rem;
}

.postexpress__depoimento-content_name h3 {
  color: var(--color-blue);
  font-size: 1.1rem;
}

.postexpress__depoimento-content_name p {
  color: var(--color-black);
  font-weight: 300;
  font-size: 0.9rem;
}

.postexpress__depoimento-content_name span {
  color: var(--color-black);
}

.postexpress__depoimento-content_name span:hover {
  color: var(--color-orange-strong);
  transition: var(--transition);
}

.postexpress__depoimento:nth-child(odd) {
  align-self: flex-start;
}

.postexpress__depoimento:nth-child(even) {
  align-self: flex-end;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-14px, 14px);
    transform: translate(-14px, 14px);
  }
  40% {
    -webkit-transform: translate(-14px, -14px);
    transform: translate(-14px, -14px);
  }
  60% {
    -webkit-transform: translate(14px, 14px);
    transform: translate(14px, 14px);
  }
  80% {
    -webkit-transform: translate(14px, -14px);
    transform: translate(14px, -14px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
    transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@media screen and (max-width: 1224px) {
  .postexpress__depoimentos-container {
    padding: 0 10rem;
    margin-top: 25rem;
  }
}

@media screen and (max-width: 1050px) {
  .postexpress__depoimentos-container {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 800px) {
  .postexpress__depoimentos-container {
    padding: 0 3rem;
    margin-bottom: 2rem;
    margin-top: 0;
  }

  .postexpress__depoimento {
    width: 520px;
    height: 600px;
    margin-bottom: 1rem;
  }

  .postexpress__depoimento-image {
    width: 120px;
    height: 120px;
  }

  .postexpress__depoimento-content {
    padding: 0.5rem;
  }

  .postexpress__depoimento-content_text {
    margin: 0 0 0.5rem;
  }

  .postexpress__depoimento-content_text i:last-child {
    margin-left: -3px;
  }

  .postexpress__depoimento-content_name {
    margin: 1rem 0 0 2.5rem;
  }

  .postexpress__depoimento::before {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 550px) {
  .postexpress__depoimentos-container {
    padding: 0 1.5rem;
  }

  .postexpress__depoimentos-container h1 {
    font-size: 2rem;
  }

  .postexpress__depoimentos-container > p {
    margin-bottom: 1.5rem;
  }

  .postexpress__depoimento:nth-child(odd),
  .postexpress__depoimento:nth-child(even) {
    align-self: center;
  }

  .postexpress__depoimento {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 750px;
    padding: 1rem 0;
  }

  .postexpress__depoimento-content {
    margin-top: 0.5rem;
    width: 100%;
  }

  .postexpress__depoimento-content_text {
    margin-left: 0rem;
  }

  .postexpress__depoimento-content_name {
    margin-left: 20px;
  }

  .postexpress__depoimento-content_name h3 {
    font-size: 1rem;
  }

  .postexpress__depoimento-content_name p {
    font-size: 0.85rem;
  }

  .postexpress__depoimentos-clientes::before {
    width: 100%;
    height: 100%;
  }
}
