.postexpress__depoimentos-container {
  padding: 0 12rem;
}

.postexpress__depoimentos-container h1 {
  color: var(--color-blue);
  font-size: 2.4rem;
  text-align: center;
}

.postexpress__depoimentos-container > p {
  color: var(--color-black);
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 3rem;
}

.postexpress__depoimentos-clientes {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postexpress__depoimentos-clientes::before {
  position: absolute;
  content: "";
  width: 90%;
  height: 90%;
  background-color: var(--color-beige);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -webkit-animation: vibrate-1 3s linear infinite both;
  animation: vibrate-1 3s linear infinite both;
}

.postexpress__depoimentos-clientes:first-child {
  align-self: flex-start;
}

.postexpress__depoimento {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);
  background-color: var(--color-white);
  width: 600px;
  height: 250px;
  overflow: hidden;
  margin-bottom: 3rem;
  transition: var(--transition);
}

.postexpress__depoimento:hover {
  scale: 1.02;
}

.postexpress__depoimento::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  bottom: -100px;
  right: -100px;
  border-radius: 50%;
  background-color: var(--color-orange);
}

.postexpress__depoimento-image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  outline: 5px solid var(--color-orange);
}

.postexpress__depoimento-image img {
  position: relative;
  object-fit: contain;
  width: 100%;
}

.postexpress__depoimento-content {
  width: 60%;
  height: 100%;
  padding: 1.5rem;
}

.postexpress__depoimento-content_text {
  display: flex;
  margin-bottom: 1rem;
  margin-left: -2rem;
}

.postexpress__depoimento-content_text i {
  color: var(--color-blue);
  display: flex;
  margin: 0 0.5rem;
}

.postexpress__depoimento-content_text i:last-child {
  align-self: flex-end;
}

.postexpress__depoimento-content_text p {
  color: var(--color-black);
  font-weight: 300;
  font-size: 0.9rem;
}

.postexpress__depoimento-content_name h3 {
  color: var(--color-blue);
  font-size: 1.1rem;
}

.postexpress__depoimento-content_name p {
  color: var(--color-black);
  font-weight: 300;
  font-size: 0.9rem;
}

.postexpress__depoimento:nth-child(odd) {
  align-self: flex-start;
}

.postexpress__depoimento:nth-child(even) {
  align-self: flex-end;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-14px, 14px);
    transform: translate(-14px, 14px);
  }
  40% {
    -webkit-transform: translate(-14px, -14px);
    transform: translate(-14px, -14px);
  }
  60% {
    -webkit-transform: translate(14px, 14px);
    transform: translate(14px, 14px);
  }
  80% {
    -webkit-transform: translate(14px, -14px);
    transform: translate(14px, -14px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
    transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
