.postexpress__hero {
  height: 100vh;
  background-color: var(--color-beige);
  position: relative;
}

.postexpress__hero-container {
  padding: 0 12rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postexpress__hero-image {
  position: absolute;
  right: 0;
  top: 120px;
}

.postexpress__hero-image img {
  width: 750px;
  align-self: flex-end;
}

.postexpress__hero-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postexpress__hero-content h1 {
  font-weight: 600;
  color: var(--color-blue);
  font-size: 2.4rem;
}

.postexpress__hero-content h1:nth-child(2) {
  margin-bottom: 2rem;
}

.postexpress__hero-content p {
  font-size: 0.95rem;
  font-weight: 300;
  color: var(--color-black);
  margin-bottom: 2rem;
}

.postexpress__hero-content_button {
  align-self: start;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@media screen and (max-width: 1224px) {
  .postexpress__hero-container {
    padding: 0 10rem;
  }
  .postexpress__hero-image img {
    width: 650px;
  }
}

@media screen and (max-width: 1050px) {
  .postexpress__hero-container {
    padding: 0 5rem;
  }

  .postexpress__hero-content h1 {
    font-size: 2rem;
  }

  .postexpress__hero-image img {
    width: 600px;
  }
}

@media screen and (max-width: 800px) {
  .postexpress__hero {
    height: 80vh;
  }
  .postexpress__hero-container {
    padding: 0 3rem;
  }

  .postexpress__hero-image {
    top: 30%;
  }

  .postexpress__hero-image img {
    width: 400px;
  }
}

@media screen and (max-width: 550px) {
  .postexpress__hero {
    height: 100vh;
  }

  .postexpress__hero-container {
    flex-direction: column;
    padding: 0 1.5rem;
  }

  .postexpress__hero-content {
    width: 100%;
  }

  .postexpress__hero-image {
    position: relative;
    top: -50px;
  }

  .postexpress__hero-image img {
    width: 350px;
  }
}
