.postexpress__hero {
  height: 100vh;
  background-color: var(--color-beige);
  position: relative;
}

.postexpress__hero-container {
  padding: 0 12rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postexpress__hero-image {
  position: absolute;
  right: 0;
  top: 120px;
}

.postexpress__hero-image img {
  width: 750px;
  /*filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.1));*/
  align-self: flex-end;
}

.postexpress__hero-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postexpress__hero-content h1 {
  font-weight: 600;
  color: var(--color-blue);
  font-size: 2.4rem;
}

.postexpress__hero-content h1:nth-child(2) {
  margin-bottom: 2rem;
}

.postexpress__hero-content p {
  font-size: 0.95rem;
  font-weight: 300;
  color: var(--color-black);
  margin-bottom: 2rem;
}

.postexpress__hero-content_button {
  align-self: start;
}
