.postexpress__navbar {
  padding: 0 12rem;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.postexpress__navbar-menu {
  padding: 0.65rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postexpress__navbar-menu_logo img {
  width: 180px;
}

.postexpress__navbar-menu_links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postexpress__navbar-menu_links a,
.postexpress__navbar-container_links a {
  color: var(--color-blue);
  font-weight: 500;
  margin-right: 2rem;
  transition: var(--transition);
}

.postexpress__navbar-menu_links a:hover,
.postexpress__navbar-container_links a:hover,
.postexpress__navbar-toggle_icon:hover {
  color: var(--color-orange-strong);
}

.postexpress__navbar-toggle {
  display: none;
}

.postexpress__navbar-toggle_icon {
  cursor: pointer;
  color: var(--color-blue);
  font-size: 25px;
}

@media screen and (max-width: 1224px) {
  .postexpress__navbar {
    padding: 0 10rem;
  }
}

@media screen and (max-width: 1050px) {
  .postexpress__navbar {
    padding: 0 3rem;
  }

  .postexpress__navbar-menu_links a,
  .postexpress__navbar-container_links a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 800px) {
  .postexpress__navbar {
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .postexpress__navbar-menu_links {
    display: none;
  }

  .postexpress__navbar-toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .postexpress__navbar-container_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    background-color: var(--color-white);
    border-radius: 5px;
    right: 5px;
    width: 120px;
    height: 190px;
    padding: 1rem 0.5rem;
  }

  .postexpress__navbar-menu_links a,
  .postexpress__navbar-container_links a {
    display: flex;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .postexpress__navbar-menu_logo img {
    width: 150px;
  }
}
