.postexpress__beneficios-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12rem;
  height: 100vh;
}

.postexpress__beneficios-container > h1 {
  color: var(--color-blue);
  font-size: 2.4rem;
  margin: 5rem 0;
  text-align: center;
}

.postexpress__beneficios-cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postexpress__beneficios-card {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 5px 1px 15px rgba(0, 0, 0, 0.12);
  margin-right: 1rem;
  overflow: hidden;
}

.postexpress__beneficios-card:last-child {
  margin-right: 0;
}

.postexpress__beneficios-card_image {
  width: 100%;
  overflow: hidden;
}

.postexpress__beneficios-card_image img {
  width: 100%;
}

.postexpress__beneficios-card_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.postexpress__beneficios-card_stars {
  align-self: flex-end;
}

.postexpress__beneficios-card_text h1 {
  margin-top: 1rem;
  color: var(--color-blue);
  font-size: 1.2rem;
}

.postexpress__beneficios-card_text p {
  margin-top: 1rem;
  color: var(--color-black);
  font-weight: 300;
  font-size: 0.9rem;
}

.postexpress__beneficios-card_button {
  margin: 3rem 0;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
