.postexpress__sobre {
  position: relative;
  scroll-margin: 5rem;
}

.postexpress__sobre::before {
  padding: 0;
  content: '';
  position: absolute;
  top: 65%;
  left: 0;
  height: 5px;
  width: 100%;
  border-bottom: 5px solid var(--color-orange-strong);
}

.postexpress__sobre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  padding: 0 12rem;
}

.postexpress__sobre-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postexpress__sobre-text h1 {
  font-size: 2.4rem;
  color: var(--color-blue);
  text-align: center;
  margin-bottom: 2.5rem;
}

.postexpress__sobre-text p {
  text-align: left;
  line-height: 1.5rem;
  font-weight: 300;
  width: 80%;
  margin-bottom: 1rem;
}

.postexpress__cta {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postexpress__cta-container {
  position: relative;
  height: 300px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background: var(--color-yellow);
  box-shadow: 12px 0 15px rgba(0, 0, 0, 0.05);
}

.postexpress__cta-container::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 6px;
  height: 100%;
  width: 100%;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 3px solid var(--color-yellow);
}

.postexpress__cta-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-blue);
}

.postexpress__cta-text_title {
  text-shadow: 1px 1px var(--color-white);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.postexpress__cta-text_valor {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  border: 5px solid var(--color-orange-strong);
  border-radius: 50%;
  padding: 1.5rem;
}

.postexpress__cta-text_valor p:nth-child(1),
.postexpress__cta-text_valor p:nth-child(3) {
  font-weight: 600;
  font-size: 1rem;
  text-shadow: 1px 0 var(--color-white);
}

.postexpress__cta-text_valor p:nth-child(2) {
  font-weight: 700;
  font-size: 4rem;
  text-shadow: 1px 0 var(--color-white);
}

.postexpress__cta-button {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
